"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
  editor:
    softTabs: false
    tabLength: 4
    tabType: "hard"
  welcome:
    showOnStartup: false
